/* ----------TIPOGRAFIA IMPORTADA---------- */
/* @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap'); */
/* ----------RESET---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----------VARIABLES---------- */
/* ----------LISTAS---------- */
/* ----------OPERACINES---------- */
/* img{
    width: $ancho+100;
} */
/* ----------MAPAS---------- */
/* background-color: map-get($boton, color-fondo); */
/* ----------EXTENDS---------- */
.hero, .services {
  display: flex;
  justify-content: center;
  align-items: center; }

/*@extend %flex-center;*/
/* ----------MIXINS---------- */
/*@include flex(flex,"","",column);*/
/* ----------CONDICIONAL---------- */
.bg-condicion {
  background-color: black;
  color: #ffffff;
  border: solid 2px yellow; }

/* ----------BUCLE---------- */
.titulo-1 {
  font-size: 24em; }

.titulo-2 {
  font-size: 12em; }

.titulo-3 {
  font-size: 8em; }

.titulo-4 {
  font-size: 6em; }

.titulo-5 {
  font-size: 4.8em; }

.titulo-6 {
  font-size: 4em; }

/* ----------BODY GENERAL---------- */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: whitesmoke; }

/* ----------CLASES HEADER NAVBAR BOOTSTRAP GENERAL---------- */
.navbar-logo div > a > img {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px; }

.navbar-color {
  background-color: #12111f; }

.dropdown-menu {
  background-color: #12111f; }

.dropdown-item {
  color: #58c6e1; }

.navbar > div > div > ul > li > a {
  color: #58c6e1; }

.navbar > div > div > ul > li > a:hover {
  color: whitesmoke; }

.dropdown-item:hover {
  color: #12111f; }

/* ----------BUTTON GENERAL---------- */
.button {
  margin: 20px;
  margin-left: auto;
  margin-right: auto; }

.button a {
  background-color: #12111f;
  font-size: 14px;
  border-style: outset;
  border-radius: 8px;
  color: darkgray;
  text-decoration: none;
  padding: 10px; }

/* ----------HEADER GENERAL---------- */
body header {
  z-index: 1;
  position: sticky;
  top: 0; }

.hero {
  /* HERO */
  width: 100%;
  height: 90vh;
  background-image: url(../img/img12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  /* padding: 12px; */
  flex-direction: column; }
  .hero h1 {
    font-size: 50px;
    color: #58c6e1;
    background: rgba(18, 17, 31, 0.5);
    padding: 20px;
    text-align: center;
    width: 80%;
    text-shadow: 2px 0 #12111f, -2px 0 #12111f, 0 2px #12111f, 0 -2px #12111f, 1px 1px #12111f, -1px -1px #12111f, 1px -1px #12111f, -1px 1px #12111f; }
  .hero p {
    padding: 20px;
    font-size: 30px;
    color: whitesmoke;
    background: rgba(18, 17, 31, 0.5);
    text-align: center;
    width: 80%;
    text-shadow: 2px 0 #12111f, -2px 0 #12111f, 0 2px #12111f, 0 -2px #12111f, 1px 1px #12111f, -1px -1px #12111f, 1px -1px #12111f, -1px 1px #12111f; }

.services {
  /* SERVICES */ }
  .services div {
    width: 50%;
    display: flex;
    justify-content: "";
    align-items: "";
    flex-direction: column; }
    .services div h2 {
      font-size: 40px;
      color: #12111f;
      text-align: center; }
    .services div p {
      text-align: center;
      padding: 60px;
      font-size: 18px; }
    .services div div {
      display: flex;
      justify-content: center;
      align-items: "";
      flex-direction: "";
      max-width: fit-content; }
  .services div img {
    width: 100%;
    height: 600px;
    object-fit: cover; }

.grid-galeria-titulo {
  text-align: center;
  background-color: #58c6e1; }

.grid-galeria {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  gap: 15px;
  grid-template-areas: "img1 img1 img2" "img3 img4 img4" "img5 img5 img6"; }
  .grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55); }

.grid-item {
  position: relative; }
  .grid-item h3 {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%; }

.img-1 {
  grid-area: img1; }

.img-2 {
  grid-area: img2; }

.img-3 {
  grid-area: img3; }

.img-4 {
  grid-area: img4; }

.img-5 {
  grid-area: img5; }

.img-6 {
  grid-area: img6; }

.projects {
  text-align: center;
  background-color: #58c6e1;
  padding: 12px; }
  .projects h2 {
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px; }
  .projects > div > div {
    border: 2px darkgray;
    margin: 5px;
    box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55); }
    .projects > div > div p {
      font-size: 15px; }
    .projects > div > div img {
      width: 45vw;
      height: 500px;
      object-fit: cover;
      min-width: 500px; }

.projects-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: "";
  flex-wrap: wrap; }

.about {
  text-align: center;
  background-color: darkgray;
  padding: 12px 0px 12px 0px; }
  .about div h2 {
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px; }
  .about div p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px; }
  .about div img {
    width: 100%;
    height: 600px;
    object-fit: cover; }

.contact {
  text-align: center;
  background-color: #58c6e1;
  padding: 12px; }
  .contact h2 {
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px; }
  .contact div p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px; }

/* ----------FIXED ICON PARTICULAR---------- */
.fixed a img {
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 60px; }

/* ----------PAGE-PROJECTS---------- */
main section.page-projects-title h2 {
  font-size: 40px;
  color: #12111f;
  text-align: center;
  background-color: whitesmoke;
  padding: 12px; }

main section.page-projects-title p {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px; }

main section.page-projects-slider {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke; }
  main section.page-projects-slider div div.carousel-inner div div h5 {
    font-size: 18px; }
  main section.page-projects-slider div div.carousel-inner div div p {
    font-size: 18px; }

/* ----------FOOTER GENERAL---------- */
.footer {
  background-color: #12111f;
  color: whitesmoke;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: ""; }
  .footer > div {
    width: calc((100%)/3);
    display: flex;
    justify-content: space-evenly;
    align-items: "";
    flex-direction: ""; }
    .footer > div a {
      text-decoration: none;
      font-size: 12px;
      color: whitesmoke;
      text-align: center; }

.right div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: "";
  margin-inline-start: auto; }
  .right div a img {
    width: auto;
    height: 50px; }

.left div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: "";
  margin-inline-end: auto; }
  .left div a img {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px; }

.footer-gotop {
  background-color: #12111f;
  color: whitesmoke;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: "";
  flex-direction: "";
  padding: 20px; }
  .footer-gotop a {
    text-decoration: none;
    color: whitesmoke; }

/* ----------HERO MEDIA QUERY---------- */
@media screen and (max-width: 1160px) {
  .hero h1 {
    font-size: 35px;
    padding: 10px;
    width: 90%; }
  .hero p {
    padding: 10px;
    font-size: 16px;
    width: 90%; } }

@media screen and (max-width: 700px) {
  .hero h1 {
    font-size: 20px;
    padding: 7px;
    width: 100%; }
  .hero p {
    padding: 7px;
    font-size: 12px;
    width: 100%; } }

@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 12px;
    padding: 5px;
    width: 100%; }
  .hero p {
    padding: 5px;
    font-size: 10px;
    width: 100%; } }

/* ----------SERVICES MEDIA QUERY---------- */
@media screen and (max-width: 1000px) {
  .services div {
    width: 85%; }
    .services div h2 {
      font-size: 22px;
      padding: 20px; }
    .services div p {
      padding: 0px;
      font-size: 15px; }
  .services-img {
    display: none !important; } }

/* --------SERVICES GRIDS GALERIA MEDIA QUERY-------- */
@media screen and (max-width: 1000px) {
  .grid-galeria-titulo h2 {
    font-size: 22px; }
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    grid-template-areas: "img1 img1" "img4 img4" "img5 img5" "img6 img6" "img2 img3"; }
  .grid-item h3 {
    font-size: 22px; } }

@media screen and (max-width: 750px) {
  .grid-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 350px;
    grid-template-areas: "img1" "img4" "img5" "img6" "img2" "img3"; }
  .grid-item h3 {
    font-size: 18px; } }

/* --------PROJECTS MEDIA QUERY-------- */
@media screen and (max-width: 1000px) {
  .projects h2 {
    font-size: 22px; } }

@media screen and (max-width: 1000px) and (max-width: 600px) {
  .projects div div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 200px; }
  .projects div div p {
    font-size: 12px; } }

@media screen and (max-width: 1000px) {
  /* --------ABOUT MEDIA QUERY-------- */ }

@media screen and (max-width: 1000px) and (max-width: 1000px) {
  .about div h2 {
    font-size: 22px; }
  .about div p {
    font-size: 15px; } }

@media screen and (max-width: 1000px) {
  /* --------CONTACT MEDIA QUERY-------- */ }

@media screen and (max-width: 1000px) and (max-width: 1000px) {
  .contact h2 {
    font-size: 22px; }
  .contact div p {
    font-size: 15px; } }

@media screen and (max-width: 1000px) {
  /* --------FOOTER MEDIA QUERY-------- */ }

@media screen and (max-width: 1000px) and (max-width: 700px) {
  .footer div.right div a img:first-child {
    width: auto;
    height: 30px; } }

@media screen and (max-width: 1000px) {
  /* ----------BUTTON MEDIA QUERY---------- */ }

@media screen and (max-width: 1000px) and (max-width: 850px) {
  .button {
    margin: 12px;
    margin-left: auto;
    margin-right: auto; }
    .button a {
      font-size: 12px;
      border-radius: 5px;
      padding: 10px; } }

/* --------FIXED ICON MEDIA QUERY-------- */
@media screen and (max-width: 700px) {
  .fixed a img {
    width: 30px; } }

/* --------------------PAGE-PROJECTS MEDIA QUERY-------------------- */
@media screen and (max-width: 1160px) {
  main section.page-projects-title h2 {
    font-size: 22px; }
  main section.page-projects-title p {
    font-size: 15px; }
  main section.page-projects-slider {
    width: 100vw;
    margin-left: auto;
    margin-right: auto; }
    main section.page-projects-slider div div.carousel-inner div div h5 {
      font-size: 15px; }
    main section.page-projects-slider div div.carousel-inner div div p {
      font-size: 15px; } }

@media screen and (max-width: 700px) {
  main section.page-projects-title h2 {
    font-size: 18px; }
  main section.page-projects-title p {
    font-size: 12px; }
  main section.page-projects-slider div div.carousel-inner div div h5 {
    font-size: 12px; }
  main section.page-projects-slider div div.carousel-inner div div p {
    font-size: 12px; } }

/* --------PAGE-PROJECTS CONTACT MEDIA QUERY-------- */
@media screen and (max-width: 1160px) {
  main section.contact h2 {
    font-size: 22px; }
  main section.contact div p {
    font-size: 15px; } }

@media screen and (max-width: 700px) {
  main section.contact h2 {
    font-size: 18px; }
  main section.contact div p {
    font-size: 12px; } }
