body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  background-color: whitesmoke; }
  body header {
    z-index: 1;
    position: sticky;
    top: 0; }
