/* @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap'); */

/* ----------RESET---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------INDEX---------- */
/* ----------BODY---------- */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*     font-family: Arial, Helvetica, sans-serif; */
    /*     font-family: Verdana, Geneva, Tahoma, sans-serif; */

}

/* ----------HEADER---------- */
header {
    z-index: 1;
}

nav{
    position: sticky !important;
}

.navbar-logo div>a>img{
height: 50px;
}
.navbar-color{
    background-color: rgb(18, 17, 31);
}
.dropdown-menu{
    background-color: rgb(18, 17, 31);
}
.dropdown-item{
    color: whitesmoke;
}
.navbar>div>div>ul>li>a{
    color: whitesmoke;
}
.navbar>div>div>ul>li>a:hover{
    color:  #58c6e1;
}
.dropdown-item:hover{
    color:  #58c6e1;
}

.header {
    background-color: rgb(18, 17, 31);
    text-align: center;
    color: whitesmoke;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 20px; */
}

.header>div {
    width: calc(100vw/3);
}

.header-img {
    display: flex;
    /* margin-inline-end: auto; */
    justify-content: flex-start;
}

.header nav ul li {
    margin: 0 4px 0 4px;
}

.header img {
    width: auto;
    height: 50px;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* flex-wrap: wrap; */
    margin: 0 4px 0 4px;
}

.header nav ul li a {
    text-decoration: none;
    color: #fefefe;
}

@media screen and (max-width:1460px) {
    .header div h1 {
        font-size: 1.6em;
    }

    .header div nav ul li a {
        font-size: 0.9em;
    }
}

@media screen and (max-width:1170px) {
    .header {
        height: 14vh;
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* padding: 20px; */
    }

    .header>div {
        width: 100vw;
        margin: 4px 0px 4px 0px;
    }

    .header-img {
        justify-content: center;

    }

    .header nav ul {
        justify-content: center;
    }

    .header img {
        width: auto;
        height: 35px;
    }
}



/* ----------MAIN---------- */
/* ----------HERO---------- */
.hero {
    width: 100vw;
    height: 90vh;
    background-image: url(../img/img12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 900;
    font-style: normal; */
    font-size: 50px;
    color: #58c6e1;
    background: rgba(18, 17, 31, 0.5);
    /* border: 4px solid white; */
    padding: 20px;
    text-align: center;
    width: 80%;
    /* padding: 45px; */
    text-shadow: 2px 0 #12111f, -2px 0 #12111f, 0 2px #12111f, 0 -2px #12111f, 1px 1px #12111f, -1px -1px #12111f, 1px -1px #12111f, -1px 1px #12111f;
}

.hero p {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    /* font-weight: 200; */
    padding: 20px;
    font-size: 30px;
    color: whitesmoke;
    background: rgba(18, 17, 31, 0.5);
    text-align: center;
    width: 80%;
    text-shadow: 2px 0 #12111f, -2px 0 #12111f, 0 2px #12111f, 0 -2px #12111f, 1px 1px #12111f, -1px -1px #12111f, 1px -1px #12111f, -1px 1px #12111f;
}

/* ----------SERVICES---------- */
.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    /*     text-align: center;
    background-color: darkgray;
    padding: 12px; */
}

.services div {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
align-content: center; */
}

.services div div {
    display: flex;
    max-width: fit-content;
    justify-content: center;
}

.services h2 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 40px;
    color: #12111f;
    text-align: center;
    /*     padding: 12px; */
}

.services p {
    text-align: center;
    padding: 60px;
}

.services img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
/* --------SERVICES GRIDS GALERIA-------- */

.grid-galeria {
    width: 100%;
    background-color:white;
    /* margin-top:15px; */
    /* padding-top:15px; */
    /* margin-bottom: 50px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 15px;
    grid-template-areas:
    "img1 img1 img2"
    "img3 img4 img4"
    "img5 img5 img6"
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
}

.grid-item {
    position: relative;
}

.grid-item h3 {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
}
.img-1{
    grid-area: img1;
}
.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}
.img-6{
    grid-area: img6;
}

/* ----------PROJECTS---------- */
.projects {
    text-align: center;
    background-color: #58c6e1;
    padding: 12px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projects h2 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px;
}

.projects img {
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.projects>div>div {
    border: 2px gray solid;
    margin: 5px;
    /* display: inline-block; */
    box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
}

/* ----------ABOUT---------- */
.about {
    text-align: center;
    background-color: darkgray;
    padding: 12px;
}

.about h2 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px;
}

.about img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* ----------CONTACT---------- */
.contact {
    text-align: center;
    background-color: #58c6e1;
    padding: 12px;
}

.contact h2 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px;
}

/* ----------FOOTER---------- */
.footer {
    background-color: #12111f;
    color: whitesmoke;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer>div {
    width: 33%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.test2 div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline-start: auto;
}

.test1 div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline-end: auto;
}


.footer a {
    text-decoration: none;
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 12px;
    color: whitesmoke;
}

.footer img {
    width: auto;
    height: 50px;
}

.footer-gotop {
    background-color: #12111f;
    color: whitesmoke;
    padding: 12px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-gotop a {
    text-decoration: none;
    color: whitesmoke;
}

/* ----------BUTTON---------- */
.button {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    /*     margin: auto; */
}

.button a {
    background-color: #12111f;
    color: #1b271e;
    /*     font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal; */
    font-size: 14px;
    border-style: outset;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* ----------FIXED ICON---------- */
.fixed img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* -------SERVICES/SERVICES------- */
.services-services img {
    width: 700px;
    height: 600px;
    object-fit: cover;

}







