/* @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap'); */

/* ----------RESET---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** --------------------INDEX-------------------- **/
/* ----------BODY---------- */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    /*     font-family: Arial, Helvetica, sans-serif; */
    /*     font-family: Verdana, Geneva, Tahoma, sans-serif; */

}

/* ----------HEADER---------- */

header {
    z-index: 1;
}

nav {
    position: sticky !important;
}

.navbar-logo div>a>img {
    width: 100px;
}

.navbar-color {
    background-color: #58c6e1;
}

.dropdown-menu {
    background-color: #58c6e1;
}

.dropdown-item {
    color: #12111f;
}

.navbar>div>div>ul>li>a {
    color: #12111f;
}

.navbar>div>div>ul>li>a:hover {
    color: whitesmoke;
}

.dropdown-item:hover {
    color: #12111f;
}

/* ----------MAIN---------- */
/* ----------HERO---------- */

.hero {
    width: 100vw;
    height: 90vh;
    background-image: url(../img/img12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 50px;
    color: #58c6e1;
    background: rgba(18, 17, 31, 0.5);
    padding: 20px;
    text-align: center;
    width: 80%;
    text-shadow: 2px 0 #12111f, -2px 0 #12111f, 0 2px #12111f, 0 -2px #12111f, 1px 1px #12111f, -1px -1px #12111f, 1px -1px #12111f, -1px 1px #12111f;
}

.hero p {
    padding: 20px;
    font-size: 30px;
    color: whitesmoke;
    background: rgba(18, 17, 31, 0.5);
    text-align: center;
    width: 80%;
    text-shadow: 2px 0 #12111f, -2px 0 #12111f, 0 2px #12111f, 0 -2px #12111f, 1px 1px #12111f, -1px -1px #12111f, 1px -1px #12111f, -1px 1px #12111f;
}

/* ----------HERO MEDIA QUERY---------- */

@media screen and (max-width:1160px) {
    .hero h1 {
        font-size: 32px;
        padding: 10px;
        width: 90%;
    }

    .hero p {
        padding: 10px;
        font-size: 16px;
        width: 90%;
    }

}

@media screen and (max-width:700px) {
    .hero h1 {
        font-size: 25px;
        padding: 7px;
        width: 100%;
    }

    .hero p {
        padding: 7px;
        font-size: 12px;
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .hero h1 {
        font-size: 12px;
        padding: 5px;
        width: 100%;
    }

    .hero p {
        padding: 5px;
        font-size: 10px;
        width: 100%;
    }
}

/* ----------SERVICES---------- */

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    /*     text-align: center;
    background-color: darkgray;
    padding: 12px; */
}

.services div {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
align-content: center; */
}

.services div div {
    display: flex;
    max-width: fit-content;
    justify-content: center;
}

.services h2 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 40px;
    color: #12111f;
    text-align: center;
    /*     padding: 12px; */
}

.services p {
    text-align: center;
    padding: 60px;
}

.services img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* ----------SERVICES MEDIA QUERIS---------- */

@media screen and (max-width:1000px) {
    .services div {
        width: 85%;
    }

    .services-img {
        display: none !important;
    }

    .services div>h2 {
        font-size: 22px;
        padding: 20px;
    }

    .services div>p {
        padding: 0px;
    }
}

/* --------SERVICES GRIDS GALERIA-------- */

.grid-galeria-titulo {
    text-align: center;
    background-color: #58c6e1;
}

.grid-galeria {
    width: 100%;
    background-color: white;
    /* margin-top:15px; */
    /* padding-top:15px; */
    /* margin-bottom: 50px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    /* grid-template-rows: 300px 300px 300px; */
    gap: 15px;
    grid-template-areas:
        "img1 img1 img2"
        "img3 img4 img4"
        "img5 img5 img6"
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
}

.grid-item {
    position: relative;
}

.grid-item h3 {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
}

.img-1 {
    grid-area: img1;
}

.img-2 {
    grid-area: img2;
}

.img-3 {
    grid-area: img3;
}

.img-4 {
    grid-area: img4;
}

.img-5 {
    grid-area: img5;
}

.img-6 {
    grid-area: img6;
}

/* --------SERVICES GRIDS GALERIA MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    .grid-galeria-titulo h2 {
        font-size: 22px;
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
        grid-template-areas:
            "img1 img1"
            "img4 img4"
            "img5 img5"
            "img6 img6"
            "img2 img3"
    }

    .grid-item h3 {
        font-size: 22px;
    }
}

@media screen and (max-width:650px) {
    .grid-galeria {
        grid-template-columns: 1fr;
        grid-auto-rows: 350px;
        grid-template-areas:
            "img1"
            "img4"
            "img5"
            "img6"
            "img2"
            "img3"
    }

    .grid-item h3 {
        font-size: 18px;
    }
}

/* ----------PROJECTS---------- */

.projects {
    text-align: center;
    background-color: #58c6e1;
    padding: 12px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* .projects-container div{
    width: 45vw;
    height: 500px;
    min-width: 500px;
} */
.projects h2 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px;
}

.projects img {
    width: 45vw;
    height: 500px;
    object-fit: cover;
    min-width: 500px;
}

.projects>div>div {
    border: 2px gray solid;
    margin: 5px;
    /* display: inline-block; */
    box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
}

/* --------PROJECTS MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    .projects h2 {
        font-size: 22px;
    }
}

@media screen and (max-width:540px) {
    .projects-container div p {
        font-size: 12px;
    }

    .projects img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-width: 200px;
    }
}

/* ----------ABOUT---------- */

.about {
    text-align: center;
    background-color: darkgray;
    padding: 12px;
}

.about h2 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px;
}

.about img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* --------ABOUT MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    .about div h2 {
        font-size: 22px;
    }
}

/* ----------CONTACT---------- */

.contact {
    text-align: center;
    background-color: #58c6e1;
    padding: 12px;
}
.contact h2 {
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 40px;
    color: #12111f;
    text-align: center;
    padding: 12px;
}

/* --------CONTACT MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    .contact h2 {
        font-size: 22px;
    }
}

/* ----------FOOTER---------- */

.footer {
    background-color: #12111f;
    color: whitesmoke;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer>div {
    width: 33%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.test2 div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline-start: auto;
}

.test1 div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline-end: auto;
}

.footer a {
    text-decoration: none;
    /*     font-family: "Castoro Titling", serif;
    font-weight: 600;
    font-style: normal; */
    font-size: 12px;
    color: whitesmoke;
    text-align: center;
}

.footer img {
    width: auto;
    height: 50px;
}

.footer-gotop {
    background-color: #12111f;
    color: whitesmoke;
    padding: 12px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-gotop a {
    text-decoration: none;
    color: whitesmoke;
}

/* --------FOOTER MEDIA QUERY-------- */

@media screen and (max-width:700px) {
    .footer img {
        width: auto;
        height: 30px;
    }
}

/* ----------BUTTON---------- */
.button {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    /*     margin: auto; */
}
.button a {
    background-color: #12111f;
    color: #1b271e;
    /*     font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal; */
    font-size: 14px;
    border-style: outset;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* ----------BUTTON MEDIA QUERY---------- */

@media screen and (max-width:850px) {
    .button {
        margin: 12px;
        margin-left: auto;
        margin-right: auto;
    }
    .button a {
        font-size: 11px;
        border-radius: 5px;
        padding: 10px;
    }
}

/* ----------FIXED ICON---------- */

.fixed img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* --------FIXED ICON MEDIA QUERY-------- */

@media screen and (max-width:530px) {
    .fixed img {
        width: 30px;
        position: fixed;
        bottom: 20px;
        right: 30px;
    }
}

/* -------SERVICES/SERVICES------- */
.services-services img {
    width: 700px;
    height: 600px;
    object-fit: cover;

}

/** --------------------SERVICES-------------------- **/

.page-services-title{
    font-size: 40px;
    color: #12111f;
    text-align: center;
    background-color: whitesmoke;
        padding: 12px;
}

.page-services{
    display: flex;
    justify-content: center;
    background-color:#12111f ;

}
.page-services {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1160px) {
    .page-services-title h1 {
        font-size: 32px;
    }
    .carousel-caption h5{
        font-size: 15px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
}

@media screen and (max-width:700px) {
    .page-services-title h1 {
        font-size: 25px;
    }
    .carousel-caption h5{
        font-size: 13px;
    }

}