.contact {

    text-align: center;
    background-color: $color-secundario;
    padding: 12px;

    h2 {
        font-size: nth($font-size-h2-h3, 1);
        color: $color-primario;
        text-align: center;
        padding: 12px;
    }

    div {
        p {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}