.contact {

    text-align: center;
    background-color: #58c6e1;
    padding: 12px;

    h2 {
        font-size: 40px;
        color: #12111f;
        text-align: center;
        padding: 12px;
    }

    div {
        p {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}