/* ----------FIXED ICON PARTICULAR---------- */

.fixed a img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 60px;
    transition: 0.4s;
}

.fixed a img:hover{
    transform: scale(1.3);
}
