.hero {
    /* HERO */
    width: 100%;
    height: 90vh;
    background-image: url(../img/img12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: nth($font-size-h1,1);
        color: $color-secundario;
        background: rgba(18, 17, 31, 0.5);
        padding: 20px;
        text-align: center;
        width: 80%;
        text-shadow: 2px 0 $color-primario, -2px 0 $color-primario, 0 2px $color-primario, 0 -2px $color-primario, 1px 1px $color-primario, -1px -1px $color-primario, 1px -1px $color-primario, -1px 1px $color-primario;
    }

    p {
        padding: 20px;
        font-size: nth($font-size-phero, 1);
        color: $color-cuaternario;
        background: rgba(18, 17, 31, 0.5);
        text-align: center;
        width: 80%;
        text-shadow: 2px 0 $color-primario, -2px 0 $color-primario, 0 2px $color-primario, 0 -2px $color-primario, 1px 1px $color-primario, -1px -1px $color-primario, 1px -1px $color-primario, -1px 1px $color-primario;
    }
}