body.page-services {
    background-color: $color-secundario;
    main {
        h2 {
            font-size: nth($font-size-h2-h3, 1);
            text-align: center;
            margin: 0px 0px 0px 0px;
        }

        section.page-services-1 {
            background-color: $color-cuaternario;
            @include flex(flex,center,center,row);

            div.page-services-1-1 {
                width: 30%;
                @include flex(flex, "", "", column);

                h2 {
                    font-size: nth($font-size-h2-h3, 1);
                    color: $color-primario;
                    text-align: center;
                    margin: 0px 0px 0px 0px;
                }

                p {
                    text-align: center;
                    padding: 20px;
                    font-size: nth($font-size-p, 1);
                    margin: 0px 0px 0px 0px;
                }

            }

            div.page-services-1-2 {
                width: 70%;
                img {
                    width: 100%;
                    height: 600px;
                    object-fit: cover;
                }
            }
        }
        section.page-services-2 {
            background-color: $color-cuaternario;
            @include flex(flex,center,center,row-reverse);
            div.page-services-2-1 {
                width: 30%;
                @include flex(flex, "", "", column);

                h2 {
                    font-size: nth($font-size-h2-h3, 1);
                    color: $color-primario;
                    text-align: center;
                    margin: 0px 0px 0px 0px;
                }

                p {
                    text-align: center;
                    padding: 20px;
                    font-size: nth($font-size-p, 1);
                    margin: 0px 0px 0px 0px;
                }

            }

            div.page-services-2-2 {
                width: 70%;
                img {
                    width: 100%;
                    height: 600px;
                    object-fit: cover;
                }
            }
        }
    }
}