.projects {
    text-align: center;
    background-color: $color-secundario;
    padding: 12px;

    h2 {
        font-size: nth($font-size-h2-h3, 1);
        color: $color-primario;
        text-align: center;
        padding: 12px;
    }

    >div {
        >div {
            border: 2px $color-terciario;
            margin: 5px;
            box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
            -webkit-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.55);
            p{
                font-size: nth($font-size-p, 2);
            }

            img {
                width: 45vw;
                height: 500px;
                object-fit: cover;
                min-width: 500px;
                /* object-position: bottom; */
            }
        }

    }
}

.projects-container {
    @include flex(flex,space-around,center,"");
    flex-wrap: wrap;
}