/* ----------TIPOGRAFIA IMPORTADA---------- */
/* @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap'); */

/* ----------RESET---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------VARIABLES---------- */
//!VARIABLES (una sola propiedad)
$color-primario: #12111f;
$color-secundario:#58c6e1;
$color-terciario:darkgray;
$color-cuaternario:whitesmoke;
$color-fondo-blanco:white;
$color_fondo:white;

/* ----------LISTAS---------- */
//!LISTAS (paquete de propiedades iguales, solo se puede llamar una)
$font-size-h1:50px,35px,20px,12px;
$font-size-phero:30px,16px,12px,10px;
$font-size-h2-h3:40px,22px,18px;
$font-size-p:18px,15px,12px;
$font-size-button:14px,12px;

/* ----------OPERACINES---------- */
//!OPERACIONES
//+ - * /
$ancho:720px;

/* img{
    width: $ancho+100;
} */

/* ----------MAPAS---------- */
//!MAPAS (paquete de propiedades diferentes que se puedes llamar por separado)
$boton:(
radio-borde: 8px,
color-texto: rgb(236, 17, 17),
color-fondo: $color-primario,
);
/* background-color: map-get($boton, color-fondo); */

/* ----------EXTENDS---------- */
//!EXTENDS (paquete de propiedades diferentes que van juntas, no se pueden llamar por separado)
%flex-center{
    display: flex;
    justify-content:center;
    align-items:center;
}
/*@extend %flex-center;*/

/* ----------MIXINS---------- */
//!MIXINS (paquete de propiedades diferentes que van juntas, se pueden modificar, se pueden llamar por separado)
@mixin flex($flex, $justify, $align, $direction)
{
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
/*@include flex(flex,"","",column);*/

/* ----------CONDICIONAL---------- */
//!CONDICIONAL
//OPERACIONES DE COMPARACION
// = asignacion
// == es igual
// === estrictamente igual (mismo tipo de dato)
// != es diferente
// > mayor que
// < menor que
// >= mayor o igual
// <= menor o igual

@mixin modos ($modo-dark){
    @if $modo-dark == black{
        background-color: black;
        color: #ffffff;
        border:solid 2px yellow;
    }@else{
        background-color: white;
        color: black;
        border:solid 2px tomato;
    }
}

.bg-condicion{
    @include modos (black);
}

/* ----------BUCLE---------- */
//!BUCLE

@for $i from 1 through 6{
    .titulo-#{$i}{
        font-size: 24em / $i;
    }
}


/* ----------BODY GENERAL---------- */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $color-fondo;
}

/* ----------CLASES HEADER NAVBAR BOOTSTRAP GENERAL---------- */

.navbar-logo div>a>img {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-color {
    background-color: $color-primario;
}
.dropdown-menu {
    background-color: $color-primario;
}
.dropdown-item {
    color: $color-secundario;
}
.navbar>div>div>ul>li>a {
    color: $color-secundario;
}
.navbar>div>div>ul>li>a:hover {
    color: $color-cuaternario;
}
.dropdown-item:hover {
    color: $color-primario;
}

/* ----------BUTTON GENERAL---------- */
.button {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.button a {
    background-color: map-get($boton, color-fondo);
    font-size: nth($font-size-button, 1);
    border-style: outset;
    border-radius: map-get($boton, radio-borde);
    color: map-get($boton, color-texto);
    text-decoration: none;
    padding: 10px;
}
