/* ----------TIPOGRAFIA IMPORTADA---------- */
/* @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap'); */

/* ----------RESET---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------VARIABLES---------- */
//!VARIABLES
$color-primario: #12111f;
$color-secundario:#58c6e1;
$color-terciario:darkgray;
$color-cuaternario:whitesmoke;
$color-fondo-blanco:white;
$color_fondo:white;

/* ----------LISTAS---------- */
//!LISTAS
$colores:
#12111f,
#58c6e1,
darkgray,
whitesmoke,
white;
$font-size:
12px,
18px,
22px,
26px,
30px,
40px;




/* ----------BODY GENERAL---------- */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    background-color: $color-fondo;
}


/* ----------CLASES HEADER NAVBAR BOOTSTRAP GENERAL---------- */

.navbar-logo div>a>img {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-color {
    background-color: $color-primario;
}
.dropdown-menu {
    background-color: $color-primario;
}
.dropdown-item {
    color: $color-secundario;
}
.navbar>div>div>ul>li>a {
    color: $color-secundario;
}
.navbar>div>div>ul>li>a:hover {
    color: $color-cuaternario;
}
.dropdown-item:hover {
    color: $color-primario;
}

/* ----------BUTTON GENERAL---------- */
.button {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    /*     margin: auto; */
}
.button a {
    background-color: $color-primario;
    color: $color-primario;
    /*     font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal; */
    font-size: 14px;
    border-style: outset;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
