/* ----------HERO MEDIA QUERY---------- */

@media screen and (max-width:1160px) {
    .hero {
        h1 {
            font-size: nth($font-size-h1, 2);
            padding: 10px;
            width: 90%;
        }

        p {
            padding: 10px;
            font-size: nth($font-size-phero, 2);
            width: 90%;
        }
    }
}

@media screen and (max-width:700px) {
    .hero {
        h1 {
            font-size: nth($font-size-h1, 3);
            padding: 7px;
            width: 100%;
        }

        p {
            padding: 7px;
            font-size: nth($font-size-phero, 3);
            width: 100%;
        }
    }
}

@media screen and (max-width:400px) {
    .hero {
        h1 {
            font-size: nth($font-size-h1, 4);
            padding: 5px;
            width: 100%;
        }

        p {
            padding: 5px;
            font-size: nth($font-size-phero, 4);
            width: 100%;
        }
    }
}

/* ----------SERVICES MEDIA QUERY---------- */

@media screen and (max-width:1000px) {
    .services {
        div {
            width: 85%;

            h2 {
                font-size: nth($font-size-h2-h3, 2);
                padding: 20px;
            }

            p {
                padding: 0px;
                font-size: nth($font-size-p, 2);
            }
        }


    }

    .services-img {
        display: none !important;
    }
}

/* --------SERVICES GRIDS GALERIA MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    .grid-galeria-titulo {
        h2 {
            font-size: 22px;
        }
    }

/*     .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
        grid-template-areas:
            "img1 img1"
            "img4 img4"
            "img5 img5"
            "img6 img6"
            "img2 img3";
    }
 */
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
        grid-template-areas:
            "img1 img1"
            "img2 img3"
            "img4 img4"
            "img5 img5"
            "img6 img6";
    }

    .grid-item {
        h3 {
            font-size: nth($font-size-h2-h3, 3);
        }
    }
}

@media screen and (max-width:750px) {
/*     .grid-galeria {
        grid-template-columns: 1fr;
        grid-auto-rows: 350px;
        grid-template-areas:
            "img1"
            "img4"
            "img5"
            "img6"
            "img2"
            "img3";
    } */

    .grid-galeria {
        grid-template-columns: 1fr;
        grid-auto-rows: 350px;
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6";
    }

    .grid-item {
        h3 {
            font-size: nth($font-size-h2-h3, 4);
        }
    }
}

/* --------PROJECTS MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    .projects {
        h2 {
            font-size: nth($font-size-h2-h3, 2);
        }
    }

    @media screen and (max-width:600px) {
        .projects {
            div {
                div {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        min-width: 200px;
                    }

                    p {
                        font-size: nth($font-size-p, 3);
                    }
                }

            }
        }
    }

    /* --------ABOUT MEDIA QUERY-------- */

    @media screen and (max-width:1000px) {
        .about {
            div {
                h2 {
                    font-size: nth($font-size-h2-h3, 2);
                }

                p {
                    font-size: nth($font-size-p, 2);
                }
            }
        }
    }

    /* --------CONTACT MEDIA QUERY-------- */

    @media screen and (max-width:1000px) {
        .contact {
            h2 {
                font-size: nth($font-size-h2-h3, 2);
            }

            div {
                p {
                    font-size: nth($font-size-p, 2);
                }
            }
        }
    }

    /* --------FOOTER MEDIA QUERY-------- */

    @media screen and (max-width:700px) {
        footer {
            div.footer {
                >div {
                    a {

                        font-size: nth($font-size-button, 2);
                    }
                }

                div.right {
                    div {
                        a {
                            img:first-child {
                                width: auto;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }


    /* ----------BUTTON MEDIA QUERY---------- */

    @media screen and (max-width:850px) {
        .button {
            margin: 12px;
            margin-left: auto;
            margin-right: auto;

            a {
                font-size: nth($font-size-button, 2);
                border-radius: 5px;
                padding: 10px;
            }
        }
    }
}

/* --------FIXED ICON MEDIA QUERY-------- */

@media screen and (max-width:700px) {
    .fixed {
        a {
            img {
                width: 30px;
            }
        }
    }
}

/* --------------------PAGE-PROJECTS MEDIA QUERY-------------------- */

@media screen and (max-width:1160px) {
    body.page-projects {
        main {
            section.page-projects-title {
                h2 {
                    font-size: nth($font-size-h2-h3, 2);
                }

                p {
                    font-size: nth($font-size-p, 2);
                }
            }

            section.page-projects-slider {
                width: 100vw;
                margin-left: auto;
                margin-right: auto;

                div {
                    div.carousel-inner {
                        div {
                            div {
                                h5 {
                                    font-size: nth($font-size-p, 2);
                                }

                                p {
                                    font-size: nth($font-size-p, 2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    body.page-projects {
        main {
            section.page-projects-title {
                h2 {
                    font-size: nth($font-size-h2-h3, 3);
                }

                p {
                    font-size: nth($font-size-p, 3);
                }
            }

            section.page-projects-slider {
                div {
                    div.carousel-inner {
                        div {
                            div {
                                h5 {
                                    font-size: nth($font-size-p, 3);
                                }

                                p {
                                    font-size: nth($font-size-p, 3);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------------- */

@media screen and (max-width:1160px) {
    body.page-projects {
        main {
            section.contact {
                h2 {
                    font-size: nth($font-size-h2-h3, 2);
                }

                div {
                    p {
                        font-size: nth($font-size-p, 2);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    body.page-projects {
        main {
            section.contact {
                h2 {
                    font-size: nth($font-size-h2-h3, 3);
                }

                div {
                    p {
                        font-size: nth($font-size-p, 3);
                    }
                }
            }
        }
    }
}

/* --------PAGE-CONTACT MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    body.page-contact {
        main {
            section.page-contact-title {
                div {
                    h2 {
                        font-size: nth($font-size-h2-h3, 2);
                    }
                }

                div {
                    p {
                        width: 600px;
                        font-size: nth($font-size-p, 2);
                    }
                }
            }

            section.page-contact-form {
                height: auto;
                width: 600px;

                form.page-contact-form1 {

                    div {
                        width: 550px;

                        label {
                            font-size: nth($font-size-p, 2);
                        }

                        input {
                            font-size: nth($font-size-p, 2);
                        }
                    }
                }

                div.page-contact-pais {
                    width: 550px;

                    label {
                        font-size: nth($font-size-p, 2);
                    }

                    select {
                        font-size: nth($font-size-p, 2);
                    }
                }

                form.page-contact-form2 {
                    div.page-contact-caja-texto {
                        textarea {
                            width: 550px;
                        }
                    }

                    div.page-contact-botones {

                        input {
                            font-size: nth($font-size-p, 2);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    body.page-contact {
        main {
            section.page-contact-title {
                div {
                    h2 {
                        font-size: nth($font-size-h2-h3, 3);
                    }
                }

                div {
                    p {
                        font-size: nth($font-size-p, 3);
                    }
                }
            }

            section.page-contact-form {
                height: auto;
                width: 90vw;

                form.page-contact-form1 {
                    div {
                        @include flex(flex, center, center, column);
                        width: 90vw;

                        label {
                            width: 90%;
                            margin: 4px 0px 4px 0px;
                            font-size: nth($font-size-p, 3);
                            text-align: center;
                        }

                        input {
                            width: 90%;
                            margin: 4px 0px 4px 0px;
                            font-size: nth($font-size-p, 3);
                        }
                    }
                }

                div.page-contact-pais {
                    @include flex(flex, center, center, column);
                    width: 90vw;

                    label {
                        width: 90%;
                        margin: 4px 0px 4px 0px;
                        font-size: nth($font-size-p, 3);
                        text-align: center;
                    }

                    select {
                        width: 130px;
                        margin: 4px 0px 4px 0px;
                        font-size: nth($font-size-p, 3);
                    }
                }

                form.page-contact-form2 {
                    div.page-contact-caja-texto {

                        label {
                            margin: 4px 0px 4px 0px;
                            font-size: nth($font-size-p, 3);
                        }

                        textarea {
                            width: 80vw;
                            font-size: nth($font-size-p, 3);
                        }
                    }

                    div.page-contact-botones {

                        input {
                            font-size: nth($font-size-p, 3);
                        }
                    }
                }
            }
        }
    }
}

/* --------PAGE-ABOUT MEDIA QUERY-------- */
@media screen and (max-width:1000px) {

    body.page-about {
        main {
            section.page-about-title {
                h2 {
                    font-size: nth($font-size-h2-h3, 2);
                    margin: 0px 0px 0px 0px;
                }
            }

            section.page-about-title {
                div.page-about-1 {
                    div {
                        h3 {
                            font-size: nth($font-size-h2-h3, 2);
                            margin: 0px 0px 0px 0px;
                        }

                        p {
                            font-size: nth($font-size-p, 2);
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }

                div.page-about-2 {
                    div {
                        h3 {
                            font-size: nth($font-size-h2-h3, 2);
                            margin: 0px 0px 0px 0px;
                        }

                        p {
                            font-size: nth($font-size-p, 2);
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
            }

            section.page-about-locations {
                h3 {
                    font-size: nth($font-size-h2-h3, 2);
                    margin: 0px 0px 0px 0px;
                }

                div {
                    div {
                        h3 {
                            font-size: nth($font-size-h2-h3, 3);
                            padding: 4px 0px 4px 0px;
                        }

                        p {
                            width: 100%;
                            text-align: center;
                            margin: 4px 0px 4px 0px;
                            font-size: nth($font-size-p, 2);
                        }

                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    body.page-about {
        main {
            section.page-about-title {
                h2 {
                    font-size: nth($font-size-h2-h3, 3);
                    margin: 0px 0px 0px 0px;
                    padding: 6px 0px 6px 0px;
                }
            }

            section.page-about-title {
                div.page-about-1 {
                    @include flex(flex, space-around, center, column);

                    div {
                        width: 100%;

                        h3 {
                            font-size: nth($font-size-h2-h3, 3);
                            padding: 6px 0px 6px 0px;
                        }

                        p {
                            padding: 20px;
                            font-size: nth($font-size-p, 3);
                            margin: 0px 0px 0px 0px;
                        }
                    }

                    div {
                        width: 100%;

                        img {
                            height: 350px;
                        }
                    }
                }

                div.page-about-2 {
                    @include flex(flex, space-around, center, column);

                    div {
                        width: 100%;

                        h3 {
                            font-size: nth($font-size-h2-h3, 3);
                            padding: 6px 0px 6px 0px;
                        }

                        p {
                            padding: 20px;
                            font-size: nth($font-size-p, 3);
                            margin: 0px 0px 0px 0px;
                        }
                    }

                    div {
                        width: 100%;

                        img {
                            height: 350px;
                        }
                    }
                }
            }

            section.page-about-locations {
                h3 {
                    font-size: nth($font-size-h2-h3, 3);
                    margin: 0px 0px 0px 0px;
                    padding: 6px 0px 6px 0px;
                }

                div {
                    @include flex(flex, "", "", column);

                    div {
                        width: 100%;
                        @include flex(flex, "", "", column);

                        h3 {
                            font-size: nth($font-size-h2-h3, 4);
                            padding: 4px 0px 4px 0px;
                        }

                        img {
                            height: 350px;
                        }

                        p {
                            font-size: nth($font-size-p, 3);
                        }

                        iframe {
                            height: 350px;
                        }
                    }
                }
            }
        }
    }
}

/* --------PAGE-SERVICES MEDIA QUERY-------- */
@media screen and (max-width:1000px) {
    body.page-services {
        main {
            section.page-services-title {
                h2 {
                    font-size: nth($font-size-h2-h3, 2);
                }

                p {
                    font-size: nth($font-size-p, 2);
                }
            }

            section.page-services-1 {
                @include flex(flex, center, center, row);

                div.page-services-1-1 {
                    width: 30%;
                    @include flex(flex, "", "", column);

                    h2 {
                        font-size: nth($font-size-h2-h3, 2);
                    }

                    p {
                        padding: 10px;
                        font-size: nth($font-size-p, 2);
                    }

                }

                div.page-services-1-2 {
                    width: 70%;

                    img {
                        width: 100%;
                        height: 400px;
                    }
                }
            }

            section.page-services-2 {
                @include flex(flex, center, center, row-reverse);

                div.page-services-2-1 {
                    width: 30%;
                    @include flex(flex, "", "", column);

                    h2 {
                        font-size: nth($font-size-h2-h3, 2);
                    }

                    p {
                        padding: 10px;
                        font-size: nth($font-size-p, 2);
                    }

                }

                div.page-services-2-2 {
                    width: 70%;

                    img {
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px)
{
    body.page-services {
        main {
            section.page-services-title {
                h2 {
                    font-size: nth($font-size-h2-h3, 3);
                }

                p {
                    font-size: nth($font-size-p, 3);
                }
            }
            section.page-services-1 {
                @include flex(flex, center, center, column);

                div.page-services-1-1 {
                    width: 100%;
                    @include flex(flex, "", "", column);

                    h2 {
                        font-size: nth($font-size-h2-h3, 3);
                        padding: 6px 0px 6px 0px;
                    }

                    p {
                        padding: 5px;
                        font-size: nth($font-size-p, 3);
                    }

                }

                div.page-services-1-2 {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 300px;
                    }
                }
            }

            section.page-services-2 {
                @include flex(flex, center, center, column);

                div.page-services-2-1 {
                    width: 100%;
                    @include flex(flex, "", "", column);

                    h2 {
                        font-size: nth($font-size-h2-h3, 3);
                        padding: 6px 0px 6px 0px;
                    }

                    p {
                        padding: 5px;
                        font-size: nth($font-size-p, 3);
                    }

                }

                div.page-services-2-2 {
                    width: 100%;

                    img {
                        height: 300px;
                    }
                }
            }
        }
    }
}
