/* ----------HERO MEDIA QUERY---------- */

@media screen and (max-width:1160px) {
    .hero {
        h1 {
            font-size: nth($font-size-h1, 2);
            padding: 10px;
            width: 90%;
        }

        p {
            padding: 10px;
            font-size: nth($font-size-phero, 2);
            width: 90%;
        }
    }
}

@media screen and (max-width:700px) {
    .hero {
        h1 {
            font-size: nth($font-size-h1, 3);
            padding: 7px;
            width: 100%;
        }

        p {
            padding: 7px;
            font-size: nth($font-size-phero, 3);
            width: 100%;
        }
    }
}

@media screen and (max-width:400px) {
    .hero {
        h1 {
            font-size: nth($font-size-h1, 4);
            padding: 5px;
            width: 100%;
        }

        p {
            padding: 5px;
            font-size: nth($font-size-phero, 4);
            width: 100%;
        }
    }
}

/* ----------SERVICES MEDIA QUERY---------- */

@media screen and (max-width:1000px) {
    .services {
        div {
            width: 85%;

            h2 {
                font-size: nth($font-size-h2-h3, 2);
                padding: 20px;
            }

            p {
                padding: 0px;
                font-size: nth($font-size-p, 2);
            }
        }


    }

    .services-img {
        display: none !important;
    }
}

/* --------SERVICES GRIDS GALERIA MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    .grid-galeria-titulo {
        h2 {
            font-size: 22px;
        }
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
        grid-template-areas:
            "img1 img1"
            "img4 img4"
            "img5 img5"
            "img6 img6"
            "img2 img3";
    }

    .grid-item {
        h3 {
            font-size: 22px;
        }
    }
}

@media screen and (max-width:750px) {
    .grid-galeria {
        grid-template-columns: 1fr;
        grid-auto-rows: 350px;
        grid-template-areas:
            "img1"
            "img4"
            "img5"
            "img6"
            "img2"
            "img3";
    }

    .grid-item {
        h3 {
            font-size: 18px;
        }
    }
}

/* --------PROJECTS MEDIA QUERY-------- */

@media screen and (max-width:1000px) {
    .projects {
        h2 {
            font-size: nth($font-size-h2-h3, 2);
        }
    }

    @media screen and (max-width:600px) {
        .projects {
            div {
                div {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        min-width: 200px;
                    }

                    p {
                        font-size: nth($font-size-p, 3);
                    }
                }

            }
        }
    }

    /* --------ABOUT MEDIA QUERY-------- */

    @media screen and (max-width:1000px) {
        .about {
            div {
                h2 {
                    font-size: nth($font-size-h2-h3, 2);
                }

                p {
                    font-size: nth($font-size-p, 2);
                }
            }
        }
    }

    /* --------CONTACT MEDIA QUERY-------- */

    @media screen and (max-width:1000px) {
        .contact {
            h2 {
                font-size: nth($font-size-h2-h3, 2);
            }

            div {
                p {
                    font-size: nth($font-size-p, 2);
                }
            }
        }
    }

    /* --------FOOTER MEDIA QUERY-------- */

    @media screen and (max-width:700px) {
        .footer {
            div.right {
                div {
                    a {
                        img:first-child {
                            width: auto;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }


    /* ----------BUTTON MEDIA QUERY---------- */

    @media screen and (max-width:850px) {
        .button {
            margin: 12px;
            margin-left: auto;
            margin-right: auto;

            a {
                font-size: nth($font-size-button, 2);
                border-radius: 5px;
                padding: 10px;
            }
        }
    }
}

/* --------FIXED ICON MEDIA QUERY-------- */

@media screen and (max-width:700px) {
    .fixed {
        a {
            img {
                width: 30px;
            }
        }
    }
}

/* --------------------PAGE-PROJECTS MEDIA QUERY-------------------- */

@media screen and (max-width:1160px) {
    main {
        section.page-projects-title {
            h2 {
                font-size: nth($font-size-h2-h3, 2);
            }

            p {
                font-size: nth($font-size-p, 2);
            }
        }

        section.page-projects-slider {
            width: 100vw;
            margin-left: auto;
            margin-right: auto;

            div {
                div.carousel-inner {
                    div {
                        div {
                            h5 {
                                font-size: nth($font-size-p, 2);
                            }

                            p {
                                font-size: nth($font-size-p, 2);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    main {
        section.page-projects-title {
            h2 {
                font-size: nth($font-size-h2-h3, 3);
            }

            p {
                font-size: nth($font-size-p, 3);
            }
        }

        section.page-projects-slider {
            div {
                div.carousel-inner {
                    div {
                        div {
                            h5 {
                                font-size: nth($font-size-p, 3);
                            }

                            p {
                                font-size: nth($font-size-p, 3);
                            }
                        }
                    }
                }
            }
        }
    }

}

/* --------PAGE-PROJECTS CONTACT MEDIA QUERY-------- */

@media screen and (max-width:1160px) {
    main {
        section.contact {
            h2 {
                font-size: nth($font-size-h2-h3, 2);
            }

            div {
                p {
                    font-size: nth($font-size-p, 2);
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    main {
        section.contact {
            h2 {
                font-size: nth($font-size-h2-h3, 3);
            }

            div {
                p {
                    font-size: nth($font-size-p, 3);
                }
            }
        }
    }
}